<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="container">

    <h1>Заказы клиентов</h1>

    <div th:if="${#lists.isEmpty(orders)}" class="empty">
        Пока нет заказов
    </div>

    <div class="orders-grid" th:if="${!#lists.isEmpty(orders)}">
        <div th:each="o : ${orders}" class="card">

            <div class="label">Имя</div>
            <div class="value" th:text="${o.name}"></div>

            <div class="label">Телефон</div>
            <div class="value" th:text="${o.phone}"></div>

            <div class="car">
                 <span th:text="${o.car.name}"></span>
            </div>

        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>