<div th:replace="~{fragments/header :: header}"></div>

<div class="container">
    <div class="card">
        <h2>Редактировать авто</h2>

        <form th:action="@{/admin/car/save}" method="post" th:object="${car}">
            <input type="hidden" th:field="*{id}"/>

            <label>Название</label>
            <input type="text" th:field="*{name}" required/>

            <label>Цена</label>
            <input type="number" th:field="*{price}" required/>

            <label>Изображение</label>
            <input type="text" th:field="*{image}" required/>

            <button type="submit">Сохранить</button>
        </form>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>