<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="container">
    <div class="card wide-form">
        <h2>Обратная связь</h2>

        <form method="post" action="/feedback">
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}" />

            <input type="text" name="name" placeholder="Имя">
            <textarea name="message"></textarea>

            <button>Отправить</button>
        </form>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>